<?xml version="1.0"?>
<!-- -->
<launch>
  <arg name="delay" default="10"/>
  <!--Load the parameters-->
  <rosparam command="load" file="$(find rwsua2017_referee)/params/default.yaml"/>
  <!--Launch the referee-->
  <node pkg="rwsua2017_referee" type="referee.py" name="referee" required="true"/>
  <!--Launch the killer-->
  <node pkg="rwsua2017_referee" type="killer.py" name="killer"/>
  <!--Launch the visualization-->
  <node pkg="rviz" type="rviz" name="rviz" args="--display-config $(find rwsua2017_referee)/config/rviz.rviz" required="true"/>
  <node pkg="rwsua2017_referee" type="draw_teams" name="draw_teams"/>
  <!--Launch the players-->
  <!--Team red-->
  <node pkg="player_moliveira" type="player_moliveira_node" name="moliveira" output="screen" respawn="true" respawn_delay="$(arg delay)"/>
  <node pkg="player_brocha" type="player_brocha_node" name="brocha" output="screen" respawn="true" respawn_delay="$(arg delay)"/>
  <node pkg="player_bvieira" type="player_bvieira_node" name="bvieira" output="screen" respawn="true" respawn_delay="$(arg delay)"/>
  <!--Team green-->
  <node pkg="player_fsilva" type="player_fsilva_node" name="fsilva" output="screen" respawn="true" respawn_delay="$(arg delay)"/>
  <node pkg="player_rmartins" type="player_rmartins_node" name="rmartins" output="screen" respawn="true" respawn_delay="$(arg delay)"/>
  <node pkg="player_jferreira" type="player_jferreira_node" name="jferreira" output="screen" respawn="true" respawn_delay="$(arg delay)"/>
  <!--Team blue-->
  <node pkg="player_jsousa" type="player_jsousa_node" name="jsousa" output="screen" respawn="true" respawn_delay="$(arg delay)"/>
  <node pkg="player_vsilva" type="player_vsilva_node" name="vsilva" output="screen" respawn="true" respawn_delay="$(arg delay)"/>
  <node pkg="player_dcorreia" type="player_dcorreia_node" name="dcorreia" output="screen" respawn="true" respawn_delay="$(arg delay)"/>

  <node name="rosbag_record" pkg="rosbag" type="record" output="screen" args=" -a -o /tmp/rwsua2017"/>

</launch>
